---
---

.docs-sidebar {
  background-color: #eee;
  max-width: 300px;
  .flex-list {
    padding-right: 30px;
  }
}


.docs-content {
  padding-top: 3rem;
  padding-left: 1rem;
  max-width: 800px;
  h2 {
    padding-bottom: 1rem;
    margin: 4rem 0 2rem;
    border-bottom: 1px solid #eee;
  }
  h3 {
    margin-top: 3rem;
  }
}


.docs-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #ccc;
  color: #777;
  text-align: center;
  ul {
    margin-bottom: 0;
  }
}

.navbar {
  padding-top: 1rem;
}

.docs-example {
  border: 1px solid #ddd;
  border-radius: 6px 6px 0 0;
  padding: 45px 15px;
  position: relative;
  &:after {
    position: absolute;
    top: 15px;
    left: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
  }
  &+.highlight {
    border: 1px solid #ddd;
    border-top-width: 0;
    border-radius: 0 0 6px 6px;
    margin-bottom: 2rem;
    pre {
      border-width: 0;
      border-radius: 0;
      margin-bottom: 0;
    }
  }
  code {
    text-align: center;
  }
}

.docs-example, .full-page-example {
  .flex-box { background-color: #eee; }
  .flex-content { margin: 1rem; padding-top: 1rem; padding-bottom: 1rem; min-height: 4rem; background-color: #ccc; text-align: center; }
}
