<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="flex-box flex-box-canvas">
      <div class="flex-box flex-box-vertical">
        <div class="flex-content flex-shrink">
          {% include nav/main.html %}
        </div>
        <div class="flex-box">
          {{content}}
        </div>
        <div class="flex-content flex-shrink flex-content-collapse">
          {% include footer.html %}
        </div>
      </div>
      <div class="flex-box flex-box-vertical flex-1s flex-offcanvas flex-offcanvas-right">
        Demo sidebar
      </div>
    </div>

  </body>

</html>
